body {
    background-color: #181a1b !important;
    border-color: #776e62 !important;
    color: #3aa4e2 !important;
    margin: 0;
  }

  h1 {
      padding: 10px;
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    margin: 0 auto;
  }
  
  .tile {
    display: flex;
    font-size: 50px;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(49, 190, 131);
    background-color: rgb(93, 110, 185);
  }

  .inactive {
    visibility: hidden;
  }

  .tile:hover { 
    background-color: #262934;
    cursor: pointer;
  }

  @media (min-width:640px){

    #grid {
      width: 400px;
    }

    .tile {
      font-size: 60px;
      height: 100px;
      width: 100px;
    }
  }